body {
    background-color: #D3D3D3;
    
}
    
h1{
    text-align:center;
}

h2{
    text-align:center;
}

.img-center{
    text-align:center;
}

.img-center2{
    text-align:center;
}

p{
    text-align:center;
}

.link1{
    text-align:center;
}

.link2{
    text-align:center;
}